<div class="card">

<div class="card-body text-centre">
<%= form_with model: @discharges do |form| %>
  <% if discharge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discharge.errors.count, "error") %> prohibited this discharge from being saved:</h2>

      <ul>
        <% discharge.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

   <div>
     <%= form.text_area :body,
       {class: 'form-control',
       placeholder: 'Рекомендация'}%>
  </div>

  <div class="input-group btn">
    <%= form.submit 'Соxранить',
      class: 'btn btn-primary', label: 'commit'%>
  </div>
<% end %>

</div>
</div>
