<p id="notice"><%= notice %></p>

<h1>Discharges</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discharges.each do |discharge| %>
      <tr>
        <td><%= discharge.body %></td>
        <td><%= discharge.record_id %></td>
        <td><%= link_to 'Show', discharge %></td>
        <td><%= link_to 'Edit', edit_discharge_path(discharge) %></td>
        <td><%= button_to 'Destroy', discharge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discharge', new_discharge_path %>
