<nav>
<div class="nav nav-tabs" id="myTab" role="tablist">
    <%= link_to 'Войти как пользователь', user_session_path,
      {class: 'nav-link'}%>
    <%= link_to 'Войти как врач', new_doctor_session_path,
      {class: 'nav-link active'} %>
</div>
</nav>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
    <%= render 'usersession' %>
  </div>
  <div class="tab-pane fade" id="doctor" role="tabpanel" aria-labelledby="doctor-tab">...</div>
</div>
