<div class="card text-center">
  <div class="card-header">Вход</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="card-body">
  <div class="input-group  ">
    <span class="input-group-text">+380</span>
    <%= f.phone_field :phone,
      {class: 'form-control',
      placeholder: 'Номер'}%>
  </div>

  <div class="input-group ">
    <%= f.password_field :password,
      {class: 'form-control',
      placeholder: 'Пароль'}%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="input-group ml-4">
      <%= f.check_box :remember_me,
        {class: 'form-check-input'}%>
      <%= f.label 'Запомнить?', 
        {class: 'form-check-label'}%>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Войти", {class: 'btn btn-primary'} %>
  </div>
<% end %>

</div>


</div>
