<nav>
<div class="nav nav-tabs" id="myTab" role="tablist">
    <%= link_to 'Войти как пользователь', user_session_path,
      {class: 'nav-link active'}%>
    <%= link_to 'Войти как врач', new_doctor_session_path,
      {class: 'nav-link'} %>
  </div>
</nav>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
  </div>
  <div class="tab-pane fade show active" id="doctor" role="tabpanel" aria-labelledby="doctor-tab">
    <%= render 'doctorsession' %>
  </div>
</div>
