<%- if controller_name != 'sessions' %>
  <%= link_to "Войти", new_session_path(resource_name),
    {class: 'alert-link'}%><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Зарегистрироваться", 
    new_registration_path(resource_name),
    {class: 'alert-link'}%><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Забыли пароль?", new_password_path(resource_name),
    {class: 'alert-link'}%><br />
<% end %>
