<div class="container card text-center">
<div class="row">
  <div class="col card-header text-left">Новая запись</div>
<%= form_with model: @records do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col">
    <%= form.text_field :title, {class: 'form-control', placeholder: 'Название'} %>
  </div>

  <div class="col">
    <%= form.text_area :description, {class: 'form-control', placeholder: 'Описание'} %>
  </div>

  <div class="col">
    <%= form.label 'Время записи:'%>

    <%= form.datetime_local_field :record_at,
      {class: 'btn btn-info btn-sm'}%>
  </div>

  <div class="col">
    <%= form.submit 'Соxранить',
      class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
</div>
