<p id="notice alert-warning"><%= notice %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Название</th>
      <th>Время</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_doctor.records.each do |record| %>
      <tr>
        <td><%= record.title %></td>
        <td>
          <%= record.record_at.day %>/<%= record.record_at.month %>
          <%= record.record_at.hour %>:<%= record.record_at.min %>
        </td>
        <td><%= link_to 'Детальнее', record %>
      </tr>
    <% end %>
  </tbody>
</table>


