<div class="card">
  <div class="card-header">
    <span class="card-text">
      Запись от
      <%= @record.user.name %>
      <%= @record.user.surname %>
    </span>
    <div class="card-subtitle text-muted">
      <% if @record.isOpen? %>

      <div class="card-text text-success">
        Открыта
      </div>
    <% else %>
      <div class="card-text text-danger">
        Закрыта
      </div>
    <% end %>
    </div>
  </div>
    <div class="card-body">
      <div class="card-tezt">
        <%= @record.title %>
      </div>
      <div class="card-tezt">
        <%= @record.description %>
      </div>
      <% if @record.isOpen == false %>
      <div class="card-tezt" >
        <%= link_to 'Дать рекомендации', new_record_discharge_path(@record),{class: 'btn btn-primary disabled'} %></div>
    <% else %>
  <div class="card-tezt" >
        <%= link_to 'Дать рекомендации', new_record_discharge_path(@record),{class: 'btn btn-primary '} %></div>
    <% end %>
    </div>
</div>
</div>
