<% @doctors.each do |d| %>
  <% unless d.category_id.blank? %>
  <% category = Category.where(id: d.category_id).first %>
<div class="card ">
  <h5 class="card-header">Врач - <%= category.title %></h5>
<% else %>
<div class="card ">
  <h5 class="card-header">Врач</h5>

<% end %>
  <div class="card-body">
	<%= d.name %>
  <%= d.surname %>
  <br>
  <% if user_signed_in? || doctor_signed_in? %>
	<%= link_to 'Записаться', new_doctor_record_path(d), {class: 'btn btn-primary'} %>
<% end %>
  </div>
</div>
<% end %>
