<div class="card">
  <div class="card-header">
    Профиль
  </div>
    <div class="card-body">
      <p class="card-text"><strong>Имя: </strong><%= @doctor.name%>
      </p>
      <p class="card-text"><strong>Фамилия: </strong>
      <%= @doctor.surname %>
      </p>
      <p class="card-text"><strong>Телефон: </strong>
      0<%= @doctor.phone %>
      </p>
      <p class="card-text"><strong>Категория: </strong>
      <%= Category.where(id: @doctor.id).first.title %>
      </p>
    </div>
    <div class="card-header">
    Записи
    </div>
    <div class="card-body">
      <%= render template: 'records/index'%>
    </div>
    </div>
</div>
