<div class="card">
  <div class="card-header">
    Профиль
  </div>
    <div class="card-body">
      <p class="card-text"><strong>Имя: </strong><%= @user.name%>
      </p>
      <p class="card-text"><strong>Фамилия: </strong>
      <%= @user.surname %>
      </p>
      <p class="card-text"><strong>Телефон: </strong>
      0<%= @user.phone %>
      </p>
    </div>
    <div class="card-header">
    Записи
    </div>
    <div class="card-body">
      <% @user.records.all.each do |r| %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="card-text">
            Запись к врачу:
            <%= Doctor.find(r.doctor_id).name %>
            <%= Doctor.find(r.doctor_id).surname %></span>
          <%= r.record_at.day %>/<%= r.record_at.month %>
          на:
          <%= r.record_at.hour %>:<%= r.record_at.min %>
          <br>
          
          <%= link_to 'Рекомендации', discharge_path(r.id),
            {class: 'btn btn-primary'} %>
        </li>

        </ul>
      <% end %>
    </div>
    </div>
</div>
