<nav class="navbar navbar-light" style="background-color: #e3f2fd;">

  <div class="container-fluid">
    <%= link_to 'Hospital', root_path, {class: 'navbar-brand'}%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <span class="nav-link active">
            <%= link_to 'Главная', root_path %>
          </span>
        </li>
       <li class="nav-item">
          <span class="nav-link active">
            <%= link_to 'Список врачей', doctor_index_path %>
          </span>
        </li>
       <li class="nav-item">
         <% if user_signed_in? %>
          <span class="nav-link active">
            <%= link_to 'Профиль', user_root_path %>
          </span>

          <span class="nav-link active">
            <%= button_to 'Выход', destroy_user_session_path,
              {class: 'btn btn-primary', method: 'delete'}%>
          </span>
          <% elsif doctor_signed_in? %>
          <span class="nav-link active">
            <%= link_to 'Профиль', doctor_root_path %>
          </span>

          <span class="nav-link active">
            <%= button_to 'Выход', destroy_doctor_session_path,
              {class: 'btn btn-primary', method: 'delete'}%>
          </span>


          <% else %>
          <span class="nav-link active">
            <%= link_to 'Войти', user_session_path %>
          </span>
          <% end %>
        </li>
      </ul>
   </div>
  </div>
</nav>
