<!DOCTYPE html>
<html>
  <head>
    <title>Hospital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' %>
  </head>

<body>
  <div class="container">
      <div class="notice alert-success text-center"><%= notice %></div>
      <div class="alert-danger text-center"><%= alert %></div>
    <%= render 'layouts/header' %>
    <%= yield %>
<div class="pt-5"><%= render 'layouts/footer' %></div>  </div>
</body>
</html>
