<%= render "users/shared/error_messages", resource: resource %>
<div class="card text-center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  </div> 
  <div class="card-header">
    Регистрация 
  </div>

<div class="card-body">
  <div class="input-group">
    <span class="input-group-text">+380</span>
    <%= f.telephone_field :phone,
      {class: 'form-control', placeholder: 'Номер'}%>
  </div>

  <div class="input-group">
    <%= f.password_field :password,
      {class: 'form-control', 
       placeholder: 'Пароль'}%>
  </div>
    

  <div class="input-grouo">
    <%= f.password_field :password_confirmation,
      {class: 'form-control', placeholder: 'Подтверждение пароля'}%>
  </div>

    <div class="blockquote-footer">
<% if @minimum_password_length %>
      <em class="form-text">
      <%= @minimum_password_length %> символов минимум
      </em>
    <% end %><br /></div>
  <div class="input-group">
    <%= f.text_field :name,
      {class: 'form-control', placeholder: 'Имя'}%>
  </div>
 
  <div class="input-group">
    <%= f.text_field :surname,
      {class: 'form-control', placeholder: 'Фамилия'}%>
  </div>
  
  <div class="input-group">
    <%= f.submit "Зарегистрироваться",
      {class: 'btn btn-primary'}%>
  </div>
<% end %>
</div>

<div class="card-footer">
  <%= render "users/shared/links" %>
</div>
</div>
